audiomentations==0.36.1
fabric==3.2.2
ipykernel==6.29.5
librosa==0.10.2.post1
matplotlib==3.9.2
multipledispatch==1.0.0
numpy==1.26.4
optuna==4.1.0
pandas==2.2.3
scikit_learn==1.5.2
seaborn==0.13.2
soundfile==0.12.1
torch==2.5.1
tqdm==4.66.5
transformers==4.44.2
umap-learn==0.5.7
